examples/Comprehensive BlueSky Test Workflow.full.json
{
	"name": "Comprehensive BlueSky Test Workflow (Full Mode)",
	"nodes": [
		{
			"id": "node-001",
			"name": "Manual Trigger",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [-1600, 0],
			"parameters": {}
		},
		{
			"id": "node-002",
			"name": "01 Test Data",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [-1360, 0],
			"parameters": {
				"mode": "runOnceForAllItems",
				"jsCode": "// Test data configuration for Bluesky workflow\n// Many ID fields below are intentionally empty and will cause specific tests to fail.\n// To enable full testing, populate these IDs with real values.\n\nreturn [{ json: {\n  handle: 'example.bsky.social',\n  did: 'did:plc:example',\n  actors: 'example.bsky.social',\n  postText: `Comprehensive test post ${new Date().toISOString()}`,\n  replyText: `Reply test ${new Date().toISOString()}`,\n  quoteText: `Quote test ${new Date().toISOString()}`,\n  searchQuery: 'n8n',\n  feedUri: 'at://did:plc:example/app.bsky.feed.generator/example',\n  feedUris: 'at://did:plc:example/app.bsky.feed.generator/example',\n  postUri: '',\n  postCid: '',\n  postUris: '',\n  likeUri: '',\n  repostUri: '',\n  followUri: '',\n  blockUri: '',\n  listName: 'n8n Test List',\n  listDescription: 'Automated test list',\n  listPurpose: 'app.bsky.graph.defs#curatelist',\n  listUserDid: 'did:plc:example',\n  listUri: '',\n  listItemUri: '',\n  requestTransferJson: '{}',\n  labelsJson: '{\"labels\":[{\"src\":\"did:plc:example\",\"uri\":\"at://did:plc:example/app.bsky.feed.post/example\",\"val\":\"test\",\"cts\":\"2024-01-01T00:00:00Z\"}]}',\n  uriPatterns: 'at://did:plc:example/app.bsky.feed.post/*',\n  lexiconUrl: 'https://bsky.social/xrpc/com.atproto.sync.getRepo',\n  moderationSubject: '',\n  moderationSubjectCid: '',\n  moderationReasonType: 'com.atproto.moderation.defs#reasonSpam',\n  moderationReason: 'Automated test report',\n  repo: 'example.bsky.social',\n  collection: 'app.bsky.feed.post',\n  recordJson: '{\"$type\":\"app.bsky.feed.post\",\"text\":\"Repo record from n8n\",\"createdAt\":\"2024-01-01T00:00:00Z\"}',\n  repoRkey: 'n8n-test-record',\n  writesJson: '[]',\n  appPasswordName: 'n8n-test',\n  inviteUseCount: 1,\n  inviteForAccount: '',\n  rotateSigningKeyBody: '',\n  chatConvoId: '',\n  chatMessageId: '',\n  chatMessageText: 'Hello from n8n',\n  chatMembers: 'did:plc:example1,did:plc:example2',\n  syncDid: 'did:plc:example',\n  syncCollection: 'app.bsky.feed.post',\n  syncRkey: 'example',\n  syncCid: 'bafyreiexample',\n  syncHostname: 'bsky.social'\n}}];"
			}
		},
		{
			"id": "node-003",
			"name": "02 Auth Create Session",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [-1120, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "createSession"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-004",
			"name": "03 Auth Refresh Session",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [-880, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "refreshSession"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-005",
			"name": "04 Auth Delete Session",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [-640, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "deleteSession"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-006",
			"name": "05 Auth Create App Password",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [-400, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "createAppPassword",
				"appPasswordName": "={{ $items('01 Test Data', 0, 0)[0].json.appPasswordName }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-007",
			"name": "06 Auth Create Invite Code",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [-160, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "createInviteCode",
				"inviteUseCount": "={{ $items('01 Test Data', 0, 0)[0].json.inviteUseCount }}",
				"inviteForAccount": "={{ $items('01 Test Data', 0, 0)[0].json.inviteForAccount }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-008",
			"name": "07 Auth Rotate Signing Key",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [80, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "auth",
				"operation": "rotateSigningKey",
				"rotateSigningKeyBody": "={{ $items('01 Test Data', 0, 0)[0].json.rotateSigningKeyBody }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-009",
			"name": "08 Account Request Transfer",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [320, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "account",
				"operation": "requestTransfer",
				"requestBodyJson": "={{ $items('01 Test Data', 0, 0)[0].json.requestTransferJson }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-010",
			"name": "09 Identity Resolve Handle",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [560, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "identity",
				"operation": "resolveHandle",
				"handle": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-011",
			"name": "10 Identity Resolve DID",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [800, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "identity",
				"operation": "resolveDid",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.did }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-012",
			"name": "11 Identity Resolve Identity",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [1040, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "identity",
				"operation": "resolveIdentity",
				"identifier": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-013",
			"name": "12 User Get Profile",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [1280, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "getProfile",
				"actor": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-014",
			"name": "13 User Get Profiles",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [1520, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "getProfiles",
				"actors": "={{ $items('01 Test Data', 0, 0)[0].json.actors }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-015",
			"name": "14 User List Followers (Paged)",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [1760, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "listFollowers",
				"handle": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"limit": 10
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-016",
			"name": "15 User List All Followers",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [2000, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "listAllFollowers",
				"handle": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"maxResults": 50,
				"pageSize": 25
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-017",
			"name": "16 User List Follows (Paged)",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [2240, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "listFollows",
				"handle": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"limit": 10
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-018",
			"name": "17 User List All Follows",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [2480, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "listAllFollows",
				"handle": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"maxResults": 50,
				"pageSize": 25
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-019",
			"name": "18 User Follow",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [2720, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "follow",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.did }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-020",
			"name": "19 User Unfollow",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [2960, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "unfollow",
				"followUri": "={{ $items('18 User Follow', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.followUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-021",
			"name": "20 User Block",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [3200, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "block",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.did }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-022",
			"name": "21 User Unblock",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [3440, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "unblock",
				"uri": "={{ $items('20 User Block', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.blockUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-023",
			"name": "22 User Mute",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [3680, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "mute",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.did }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-024",
			"name": "23 User Unmute",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [3920, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "unmute",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.did }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-025",
			"name": "24 User Update Profile",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [4160, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "user",
				"operation": "updateProfile",
				"displayName": "n8n Test",
				"description": "Profile update from n8n comprehensive workflow"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-026",
			"name": "25 Post Create",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [4400, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "post",
				"postText": "={{ $items('01 Test Data', 0, 0)[0].json.postText }}",
				"langs": ["en"]
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-027",
			"name": "26 Post Like",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [4640, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "like",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"cid": "={{ $items('25 Post Create', 0, 0)[0]?.json?.cid || $items('01 Test Data', 0, 0)[0].json.postCid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-028",
			"name": "27 Post Repost",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [4880, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "repost",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"cid": "={{ $items('25 Post Create', 0, 0)[0]?.json?.cid || $items('01 Test Data', 0, 0)[0].json.postCid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-029",
			"name": "28 Post Reply",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [5120, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "reply",
				"replyText": "={{ $items('01 Test Data', 0, 0)[0].json.replyText }}",
				"replyLangs": ["en"],
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"cid": "={{ $items('25 Post Create', 0, 0)[0]?.json?.cid || $items('01 Test Data', 0, 0)[0].json.postCid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-030",
			"name": "29 Post Quote",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [5360, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "quote",
				"quoteText": "={{ $items('01 Test Data', 0, 0)[0].json.quoteText }}",
				"quoteLangs": ["en"],
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"cid": "={{ $items('25 Post Create', 0, 0)[0]?.json?.cid || $items('01 Test Data', 0, 0)[0].json.postCid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-031",
			"name": "30 Feed Get Post Thread",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [5600, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getPostThread",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"depth": 3,
				"parentHeight": 3
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-032",
			"name": "31 Feed Get Likes",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [5840, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getLikes",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-033",
			"name": "32 Feed Get Reposted By",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [6080, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getRepostedBy",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-034",
			"name": "33 Feed Get Posts",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [6320, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getPosts",
				"uris": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri ? $items('25 Post Create', 0, 0)[0].json.uri : $items('01 Test Data', 0, 0)[0].json.postUris }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-035",
			"name": "34 Feed Get Author Feed",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [6560, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getAuthorFeed",
				"actor": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-036",
			"name": "35 Feed Timeline",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [6800, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getTimeline",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-037",
			"name": "36 Feed Get Feed",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [7040, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getFeed",
				"feed": "={{ $items('01 Test Data', 0, 0)[0].json.feedUri }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-038",
			"name": "37 Feed Get Feed Skeleton",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [7280, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getFeedSkeleton",
				"feed": "={{ $items('01 Test Data', 0, 0)[0].json.feedUri }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-039",
			"name": "38 Feed Get Feed Generators",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [7520, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getFeedGenerators",
				"feedUris": "={{ $items('01 Test Data', 0, 0)[0].json.feedUris }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-040",
			"name": "39 Feed Describe Feed Generator",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [7760, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "describeFeedGenerator"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-041",
			"name": "40 Feed Get Suggested Feeds",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [8000, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "feed",
				"operation": "getSuggestedFeeds",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-042",
			"name": "41 Search Users",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [8240, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "search",
				"operation": "searchUsers",
				"q": "={{ $items('01 Test Data', 0, 0)[0].json.searchQuery }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-043",
			"name": "42 Search Posts",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [8480, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "search",
				"operation": "searchPosts",
				"q": "={{ $items('01 Test Data', 0, 0)[0].json.searchQuery }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-044",
			"name": "43 Analytics List Notifications",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [8720, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "analytics",
				"operation": "listNotifications",
				"limit": 5,
				"unreadOnly": true,
				"markRetrievedAsRead": false
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-045",
			"name": "44 Analytics Get Unread Count",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [8960, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "analytics",
				"operation": "getUnreadCount"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-046",
			"name": "45 Analytics Update Seen Notifications",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [9200, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "analytics",
				"operation": "updateSeenNotifications",
				"seenAt": "={{ $now.toISO() }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-047",
			"name": "46 Analytics Get Post Interactions",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [9440, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "analytics",
				"operation": "getPostInteractions",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}",
				"interactionTypes": ["likes", "reposts", "replies"],
				"interactionLimit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-048",
			"name": "47 Notification List",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [9680, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "notification",
				"operation": "listNotifications",
				"limit": 5,
				"unreadOnly": true,
				"markRetrievedAsRead": false
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-049",
			"name": "48 Notification Get Unread Count",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [9920, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "notification",
				"operation": "getUnreadCount",
				"priority": false
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-050",
			"name": "49 Notification Update Seen",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [10160, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "notification",
				"operation": "updateSeen",
				"seenAt": "={{ $now.toISO() }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-051",
			"name": "50 Graph Get Blocks",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [10400, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "graph",
				"operation": "getBlocks",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-052",
			"name": "51 Graph Get Mutes",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [10640, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "graph",
				"operation": "getMutes",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-053",
			"name": "52 Graph Mute Thread",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [10880, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "graph",
				"operation": "muteThread",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-054",
			"name": "53 List Create",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [11120, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "createList",
				"name": "={{ $items('01 Test Data', 0, 0)[0].json.listName }}",
				"purpose": "={{ $items('01 Test Data', 0, 0)[0].json.listPurpose }}",
				"description": "={{ $items('01 Test Data', 0, 0)[0].json.listDescription }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-055",
			"name": "54 List Update",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [11360, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "updateList",
				"listUri": "={{ $items('53 List Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listUri }}",
				"name": "={{ $items('01 Test Data', 0, 0)[0].json.listName }}",
				"purpose": "={{ $items('01 Test Data', 0, 0)[0].json.listPurpose }}",
				"description": "={{ $items('01 Test Data', 0, 0)[0].json.listDescription }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-056",
			"name": "55 List Get Lists",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [11600, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "getLists",
				"actor": "={{ $items('01 Test Data', 0, 0)[0].json.handle }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-057",
			"name": "56 List Get List Feed",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [11840, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "getListFeed",
				"listUri": "={{ $items('53 List Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listUri }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-058",
			"name": "57 List Add User",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [12080, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "addUserToList",
				"listUri": "={{ $items('53 List Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listUri }}",
				"userDid": "={{ $items('01 Test Data', 0, 0)[0].json.listUserDid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-059",
			"name": "58 List Remove User",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [12320, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "removeUserFromList",
				"listUri": "={{ $items('53 List Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listUri }}",
				"userDid": "={{ $items('01 Test Data', 0, 0)[0].json.listUserDid }}",
				"listItemUri": "={{ $items('57 List Add User', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listItemUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-060",
			"name": "59 List Delete",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [12560, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "list",
				"operation": "deleteList",
				"listUri": "={{ $items('53 List Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.listUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-061",
			"name": "60 Repo Create Record",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [12800, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "createRecord",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.collection }}",
				"recordJson": "={{ $items('01 Test Data', 0, 0)[0].json.recordJson }}",
				"optionalRkey": "={{ $items('01 Test Data', 0, 0)[0].json.repoRkey }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-062",
			"name": "61 Repo Put Record",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [13040, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "putRecord",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.collection }}",
				"rkey": "={{ $items('60 Repo Create Record', 0, 0)[0]?.json?.uri ? $items('60 Repo Create Record', 0, 0)[0].json.uri.split('/').pop() : $items('01 Test Data', 0, 0)[0].json.repoRkey }}",
				"recordJson": "={{ $items('01 Test Data', 0, 0)[0].json.recordJson }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-063",
			"name": "62 Repo Get Record",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [13280, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "getRecord",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.collection }}",
				"rkey": "={{ $items('60 Repo Create Record', 0, 0)[0]?.json?.uri ? $items('60 Repo Create Record', 0, 0)[0].json.uri.split('/').pop() : $items('01 Test Data', 0, 0)[0].json.repoRkey }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-064",
			"name": "63 Repo List Records",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [13520, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "listRecords",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.collection }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-065",
			"name": "64 Repo Apply Writes",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [13760, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "applyWrites",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"writesJson": "={{ $items('01 Test Data', 0, 0)[0].json.writesJson }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-066b",
			"name": "65 Generate Binary Data",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [14000, 0],
			"parameters": {
				"mode": "runOnceForAllItems",
				"jsCode": "const content = 'n8n test binary data';\nconst buffer = Buffer.from(content, 'utf8');\nreturn [{\n  json: { generatedAt: new Date().toISOString() },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/plain',\n      fileName: 'n8n-test.txt'\n    }\n  }\n}];"
			}
		},
		{
			"id": "node-066",
			"name": "65 Repo Upload Blob",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [14240, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "uploadBlob",
				"binaryProperty": "data"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-067",
			"name": "66 Repo Delete Record",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [14480, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "repo",
				"operation": "deleteRecord",
				"repo": "={{ $items('01 Test Data', 0, 0)[0].json.repo }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.collection }}",
				"rkey": "={{ $items('60 Repo Create Record', 0, 0)[0]?.json?.uri ? $items('60 Repo Create Record', 0, 0)[0].json.uri.split('/').pop() : $items('01 Test Data', 0, 0)[0].json.repoRkey }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-068",
			"name": "67 Moderation Create Report",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [14720, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "moderation",
				"operation": "createReport",
				"subjectType": "record",
				"subject": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.moderationSubject }}",
				"subjectCid": "={{ $items('25 Post Create', 0, 0)[0]?.json?.cid || $items('01 Test Data', 0, 0)[0].json.moderationSubjectCid }}",
				"reasonType": "={{ $items('01 Test Data', 0, 0)[0].json.moderationReasonType }}",
				"reason": "={{ $items('01 Test Data', 0, 0)[0].json.moderationReason }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-069",
			"name": "68 Label Query Labels",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [14960, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "label",
				"operation": "queryLabels",
				"uriPatterns": "={{ $items('01 Test Data', 0, 0)[0].json.uriPatterns }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-070",
			"name": "69 Label Apply Labels",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [15200, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "label",
				"operation": "applyLabels",
				"labelsJson": "={{ $items('01 Test Data', 0, 0)[0].json.labelsJson }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-071",
			"name": "70 Lexicon Resolve Lexicon",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [15440, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "lexicon",
				"operation": "resolveLexicon",
				"lexiconUrl": "={{ $items('01 Test Data', 0, 0)[0].json.lexiconUrl }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-072",
			"name": "71 Preferences Get Preferences",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [15680, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "preferences",
				"operation": "getPreferences"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-073",
			"name": "72 Preferences Put Preferences",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [15920, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "preferences",
				"operation": "putPreferences",
				"preferencesJson": "[]"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-074",
			"name": "73 Chat List Conversations",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [16160, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "listConvos",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-075",
			"name": "74 Chat Get Conversation",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [16400, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "getConvo",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-076",
			"name": "75 Chat Get Convo For Members",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [16640, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "getConvoForMembers",
				"members": "={{ $items('01 Test Data', 0, 0)[0].json.chatMembers }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-077",
			"name": "76 Chat Get Messages",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [16880, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "getMessages",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-078",
			"name": "77 Chat Send Message",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [17120, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "sendMessage",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}",
				"messageText": "={{ $items('01 Test Data', 0, 0)[0].json.chatMessageText }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-079",
			"name": "78 Chat Delete Message",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [17360, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "deleteMessage",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}",
				"messageId": "={{ $items('01 Test Data', 0, 0)[0].json.chatMessageId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-080",
			"name": "79 Chat Accept Conversation",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [17600, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "acceptConvo",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-081",
			"name": "80 Chat Leave Conversation",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [17840, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "leaveConvo",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-082",
			"name": "81 Chat Mute Conversation",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [18080, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "muteConvo",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-083",
			"name": "82 Chat Unmute Conversation",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [18320, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "unmuteConvo",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-084",
			"name": "83 Chat Update Read",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [18560, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "chat",
				"operation": "updateRead",
				"convoId": "={{ $items('01 Test Data', 0, 0)[0].json.chatConvoId }}",
				"messageId": "={{ $items('01 Test Data', 0, 0)[0].json.chatMessageId }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-085",
			"name": "84 Sync Get Repo",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [18800, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "getRepo",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-086",
			"name": "85 Sync Get Record",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [19040, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "getRecord",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}",
				"collection": "={{ $items('01 Test Data', 0, 0)[0].json.syncCollection }}",
				"rkey": "={{ $items('01 Test Data', 0, 0)[0].json.syncRkey }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-087",
			"name": "86 Sync Get Repo Status",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [19280, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "getRepoStatus",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-088",
			"name": "87 Sync Get Latest Commit",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [19520, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "getLatestCommit",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-089",
			"name": "88 Sync Get Blob",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [19760, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "getBlob",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}",
				"cid": "={{ $items('01 Test Data', 0, 0)[0].json.syncCid }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-090",
			"name": "89 Sync List Blobs",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [20000, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "listBlobs",
				"did": "={{ $items('01 Test Data', 0, 0)[0].json.syncDid }}",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-091",
			"name": "90 Sync List Repos",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [20240, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "listRepos",
				"limit": 5
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-092",
			"name": "91 Sync Notify Of Update",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [20480, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "notifyOfUpdate",
				"hostname": "={{ $items('01 Test Data', 0, 0)[0].json.syncHostname }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-093",
			"name": "92 Sync Request Crawl",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [20720, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "sync",
				"operation": "requestCrawl",
				"hostname": "={{ $items('01 Test Data', 0, 0)[0].json.syncHostname }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-094",
			"name": "93 Post Delete Like",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [20960, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "deleteLike",
				"uri": "={{ $items('26 Post Like', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.likeUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-095",
			"name": "94 Post Delete Repost",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [21200, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "deleteRepost",
				"uri": "={{ $items('27 Post Repost', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.repostUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		},
		{
			"id": "node-096",
			"name": "95 Post Delete Post",
			"type": "n8n-nodes-the-bluesky.bluesky",
			"typeVersion": 2,
			"position": [21440, 0],
			"continueOnFail": true,
			"alwaysOutputData": true,
			"executeOnce": true,
			"parameters": {
				"resource": "post",
				"operation": "deletePost",
				"uri": "={{ $items('25 Post Create', 0, 0)[0]?.json?.uri || $items('01 Test Data', 0, 0)[0].json.postUri }}"
			},
			"credentials": {
				"blueskyApi": {
					"id": null,
					"name": "Bluesky"
				}
			}
		}
	],
	"connections": {
		"Manual Trigger": {
			"main": [
				[
					{
						"node": "01 Test Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"01 Test Data": {
			"main": [
				[
					{
						"node": "02 Auth Create Session",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"02 Auth Create Session": {
			"main": [
				[
					{
						"node": "03 Auth Refresh Session",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"03 Auth Refresh Session": {
			"main": [
				[
					{
						"node": "04 Auth Delete Session",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"04 Auth Delete Session": {
			"main": [
				[
					{
						"node": "05 Auth Create App Password",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"05 Auth Create App Password": {
			"main": [
				[
					{
						"node": "06 Auth Create Invite Code",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"06 Auth Create Invite Code": {
			"main": [
				[
					{
						"node": "07 Auth Rotate Signing Key",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"07 Auth Rotate Signing Key": {
			"main": [
				[
					{
						"node": "08 Account Request Transfer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"08 Account Request Transfer": {
			"main": [
				[
					{
						"node": "09 Identity Resolve Handle",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"09 Identity Resolve Handle": {
			"main": [
				[
					{
						"node": "10 Identity Resolve DID",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"10 Identity Resolve DID": {
			"main": [
				[
					{
						"node": "11 Identity Resolve Identity",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"11 Identity Resolve Identity": {
			"main": [
				[
					{
						"node": "12 User Get Profile",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"12 User Get Profile": {
			"main": [
				[
					{
						"node": "13 User Get Profiles",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"13 User Get Profiles": {
			"main": [
				[
					{
						"node": "14 User List Followers (Paged)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"14 User List Followers (Paged)": {
			"main": [
				[
					{
						"node": "15 User List All Followers",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"15 User List All Followers": {
			"main": [
				[
					{
						"node": "16 User List Follows (Paged)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"16 User List Follows (Paged)": {
			"main": [
				[
					{
						"node": "17 User List All Follows",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"17 User List All Follows": {
			"main": [
				[
					{
						"node": "18 User Follow",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"18 User Follow": {
			"main": [
				[
					{
						"node": "19 User Unfollow",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"19 User Unfollow": {
			"main": [
				[
					{
						"node": "20 User Block",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"20 User Block": {
			"main": [
				[
					{
						"node": "21 User Unblock",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"21 User Unblock": {
			"main": [
				[
					{
						"node": "22 User Mute",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"22 User Mute": {
			"main": [
				[
					{
						"node": "23 User Unmute",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"23 User Unmute": {
			"main": [
				[
					{
						"node": "24 User Update Profile",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"24 User Update Profile": {
			"main": [
				[
					{
						"node": "25 Post Create",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"25 Post Create": {
			"main": [
				[
					{
						"node": "26 Post Like",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"26 Post Like": {
			"main": [
				[
					{
						"node": "27 Post Repost",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"27 Post Repost": {
			"main": [
				[
					{
						"node": "28 Post Reply",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"28 Post Reply": {
			"main": [
				[
					{
						"node": "29 Post Quote",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"29 Post Quote": {
			"main": [
				[
					{
						"node": "30 Feed Get Post Thread",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"30 Feed Get Post Thread": {
			"main": [
				[
					{
						"node": "31 Feed Get Likes",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"31 Feed Get Likes": {
			"main": [
				[
					{
						"node": "32 Feed Get Reposted By",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"32 Feed Get Reposted By": {
			"main": [
				[
					{
						"node": "33 Feed Get Posts",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"33 Feed Get Posts": {
			"main": [
				[
					{
						"node": "34 Feed Get Author Feed",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"34 Feed Get Author Feed": {
			"main": [
				[
					{
						"node": "35 Feed Timeline",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"35 Feed Timeline": {
			"main": [
				[
					{
						"node": "36 Feed Get Feed",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"36 Feed Get Feed": {
			"main": [
				[
					{
						"node": "37 Feed Get Feed Skeleton",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"37 Feed Get Feed Skeleton": {
			"main": [
				[
					{
						"node": "38 Feed Get Feed Generators",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"38 Feed Get Feed Generators": {
			"main": [
				[
					{
						"node": "39 Feed Describe Feed Generator",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"39 Feed Describe Feed Generator": {
			"main": [
				[
					{
						"node": "40 Feed Get Suggested Feeds",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"40 Feed Get Suggested Feeds": {
			"main": [
				[
					{
						"node": "41 Search Users",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"41 Search Users": {
			"main": [
				[
					{
						"node": "42 Search Posts",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"42 Search Posts": {
			"main": [
				[
					{
						"node": "43 Analytics List Notifications",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"43 Analytics List Notifications": {
			"main": [
				[
					{
						"node": "44 Analytics Get Unread Count",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"44 Analytics Get Unread Count": {
			"main": [
				[
					{
						"node": "45 Analytics Update Seen Notifications",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"45 Analytics Update Seen Notifications": {
			"main": [
				[
					{
						"node": "46 Analytics Get Post Interactions",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"46 Analytics Get Post Interactions": {
			"main": [
				[
					{
						"node": "47 Notification List",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"47 Notification List": {
			"main": [
				[
					{
						"node": "48 Notification Get Unread Count",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"48 Notification Get Unread Count": {
			"main": [
				[
					{
						"node": "49 Notification Update Seen",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"49 Notification Update Seen": {
			"main": [
				[
					{
						"node": "50 Graph Get Blocks",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"50 Graph Get Blocks": {
			"main": [
				[
					{
						"node": "51 Graph Get Mutes",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"51 Graph Get Mutes": {
			"main": [
				[
					{
						"node": "52 Graph Mute Thread",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"52 Graph Mute Thread": {
			"main": [
				[
					{
						"node": "53 List Create",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"53 List Create": {
			"main": [
				[
					{
						"node": "54 List Update",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"54 List Update": {
			"main": [
				[
					{
						"node": "55 List Get Lists",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"55 List Get Lists": {
			"main": [
				[
					{
						"node": "56 List Get List Feed",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"56 List Get List Feed": {
			"main": [
				[
					{
						"node": "57 List Add User",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"57 List Add User": {
			"main": [
				[
					{
						"node": "58 List Remove User",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"58 List Remove User": {
			"main": [
				[
					{
						"node": "59 List Delete",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"59 List Delete": {
			"main": [
				[
					{
						"node": "60 Repo Create Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"60 Repo Create Record": {
			"main": [
				[
					{
						"node": "61 Repo Put Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"61 Repo Put Record": {
			"main": [
				[
					{
						"node": "62 Repo Get Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"62 Repo Get Record": {
			"main": [
				[
					{
						"node": "63 Repo List Records",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"63 Repo List Records": {
			"main": [
				[
					{
						"node": "64 Repo Apply Writes",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"64 Repo Apply Writes": {
			"main": [
				[
					{
						"node": "65 Generate Binary Data",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"65 Generate Binary Data": {
			"main": [
				[
					{
						"node": "65 Repo Upload Blob",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"65 Repo Upload Blob": {
			"main": [
				[
					{
						"node": "66 Repo Delete Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"66 Repo Delete Record": {
			"main": [
				[
					{
						"node": "67 Moderation Create Report",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"67 Moderation Create Report": {
			"main": [
				[
					{
						"node": "68 Label Query Labels",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"68 Label Query Labels": {
			"main": [
				[
					{
						"node": "69 Label Apply Labels",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"69 Label Apply Labels": {
			"main": [
				[
					{
						"node": "70 Lexicon Resolve Lexicon",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"70 Lexicon Resolve Lexicon": {
			"main": [
				[
					{
						"node": "71 Preferences Get Preferences",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"71 Preferences Get Preferences": {
			"main": [
				[
					{
						"node": "72 Preferences Put Preferences",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"72 Preferences Put Preferences": {
			"main": [
				[
					{
						"node": "73 Chat List Conversations",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"73 Chat List Conversations": {
			"main": [
				[
					{
						"node": "74 Chat Get Conversation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"74 Chat Get Conversation": {
			"main": [
				[
					{
						"node": "75 Chat Get Convo For Members",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"75 Chat Get Convo For Members": {
			"main": [
				[
					{
						"node": "76 Chat Get Messages",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"76 Chat Get Messages": {
			"main": [
				[
					{
						"node": "77 Chat Send Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"77 Chat Send Message": {
			"main": [
				[
					{
						"node": "78 Chat Delete Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"78 Chat Delete Message": {
			"main": [
				[
					{
						"node": "79 Chat Accept Conversation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"79 Chat Accept Conversation": {
			"main": [
				[
					{
						"node": "80 Chat Leave Conversation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"80 Chat Leave Conversation": {
			"main": [
				[
					{
						"node": "81 Chat Mute Conversation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"81 Chat Mute Conversation": {
			"main": [
				[
					{
						"node": "82 Chat Unmute Conversation",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"82 Chat Unmute Conversation": {
			"main": [
				[
					{
						"node": "83 Chat Update Read",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"83 Chat Update Read": {
			"main": [
				[
					{
						"node": "84 Sync Get Repo",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"84 Sync Get Repo": {
			"main": [
				[
					{
						"node": "85 Sync Get Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"85 Sync Get Record": {
			"main": [
				[
					{
						"node": "86 Sync Get Repo Status",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"86 Sync Get Repo Status": {
			"main": [
				[
					{
						"node": "87 Sync Get Latest Commit",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"87 Sync Get Latest Commit": {
			"main": [
				[
					{
						"node": "88 Sync Get Blob",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"88 Sync Get Blob": {
			"main": [
				[
					{
						"node": "89 Sync List Blobs",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"89 Sync List Blobs": {
			"main": [
				[
					{
						"node": "90 Sync List Repos",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"90 Sync List Repos": {
			"main": [
				[
					{
						"node": "91 Sync Notify Of Update",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"91 Sync Notify Of Update": {
			"main": [
				[
					{
						"node": "92 Sync Request Crawl",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"92 Sync Request Crawl": {
			"main": [
				[
					{
						"node": "93 Post Delete Like",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"93 Post Delete Like": {
			"main": [
				[
					{
						"node": "94 Post Delete Repost",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"94 Post Delete Repost": {
			"main": [
				[
					{
						"node": "95 Post Delete Post",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	}
}
